{:paths     ["src"]
 :deps      {tensegritics/clojuredart {:git/url "https://github.com/tensegritics/ClojureDart.git" :sha "f96be46b358afc08f0e386d09e9305c21d6b23d9"}}
 :aliases   {:test  {:extra-paths ["test"]}
             :spec  {:main-opts ["-m" "cljd.build" "test"]}
             :cljd  {:main-opts ["-m" "cljd.build"]}
             :watch {:main-opts ["-m" "cljd.build" "flutter"]}
             }
 :cljd/opts {:kind :flutter :main bible.main}}
